@import url(styles.css);

.container-metricas{
    display: flex;
    justify-content: center;
}

.conteudo-metricas{
    width: 80%;
    height: 180px;
    display: flex;
}

.conteudo-item{
    width: 280px;
    height: 168px;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container-title {
    width: 280px;
    height: 72px;
}

.title-especial{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--main-color);
}

.conteudo-descricao{
    width: 280px;
    height: 28px;
}

.conteudo-texto {
    width: 280px;
    height: 48px;
    margin-right: 1rem;
    color: var(--text-color);
    text-align: justify;
}
