@import url(../../src/Estilos/reset.css);
@import url(../../src/Estilos/normalize.css);
@import url(../../src/Estilos/cabecalho.css);
@import url(../../src/Estilos/depoimentos.css);
@import url(../../src/Estilos/footer.css);
@import url(../../src/Estilos/metricas.css);
@import url(../../src/Estilos/navbar.css);
@import url(../../src/Estilos/vagas.css);

:root {
    --text-color: #667085;
    --main-color: #8E2424;
  }

body{
  background: #F7FAFF;
}